.charts-padding{
    padding: 30px !important;
}

.list-padding{
    padding-left: 20px !important;
    /* padding-right: 20px !important; */
}

.thead{
    display: table-header-group;
    vertical-align: middle;
    border-top-color: inherit;
    border-right-color: inherit;
    border-bottom-color: inherit;
    border-left-color: inherit;
}

.table .thead-dark th {
    color: #fff;
    background-color: #198754;
    border-color: #262626;
}

.table{
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}